/* History Section */
#history {
    text-align: left;
    padding: 50px 20vw;
    margin: 0 auto;
  }
  
  #history ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  
  #history ul li {
    margin: 10px 0;
    padding-left: 30px;
    position: relative;
  }
  
  #history ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #a8522c;
    font-size: 1.2rem;
  }
  